/* src/App.css */
:root {
    --fanta-orange: #FF7F32;
    --deep-blue: #0065A1;
    --creamy-beige: #F5E1A4;
    --muted-green: #A1C6A1;
    --dark-brown: #794B31;
    --white: #FFFFFF;
    --teal-blue: #1E8B8D;
    --electric-yellow: #F9E600;
    --font-primary: 'Raleway', sans-serif;
  }
  
  body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
  }